.box 
  position: relative
  min-height: 400px
  padding: 8rem 4rem
  margin-bottom: 3rem
  border: 1px solid $white
  
  &.box__square
    +breakpoint(medium)
      height: 500px
    +breakpoint( large )
      height: 600px
  &.box__rect
    +breakpoint(medium)
      height: 615px
    +breakpoint( large )
      height: 775px
  &.box__offset
    +breakpoint( medium )
      margin-top: -6em
    +breakpoint( large )
      margin-top: -11em
  
  
  
.open
  width: 31px 
  height: 31px
  background-image: url(../assets/images/plus-sign.png)
  background-size: cover 
  background-repeat: no-repeat 
  background-position: center center
  display: block
  font-family: 'Roboto', sans-serif
  font-size: 80px
  font-weight: 100
  z-index: 9999
  transition: width 1s, height 1s, transform .5s !important

  &:hover 
    transform: rotate(90deg) !important
    transform-origin: center center

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1