#about-surveys 
  
  color: $white

  @include breakpoint (xlarge down) 
    padding-top: 150px
    padding-bottom: 150px

  @include breakpoint (medium down) 
    padding-top: 50px
    padding-bottom: 50px

  h3
    color: $white
    margin-bottom: 3rem

    @include breakpoint (large) 
      margin-bottom: 5rem
      

  h5 
    font-weight: 600

  p 
    // font-size: 20px

    &:last-of-type 
      margin-bottom: 80px

  ul 
    li
      margin-top: rem-calc(8px)
      &::before
        background-color: white
.topics-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  li 
    flex: 1 0 50%