.bodymovin-wrapper
  width: 225px
  height: 225px
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  position: relative
  margin: 0 0 80px 0
  padding: 0

  .bodymovin
    width: 100%
    height: 100%

  @include breakpoint (medium down) 
    margin: 0 0 40px 0

.bodymovin-wrapper-svg
  width: 225px
  height: 225px
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  position: relative
  margin: 0 0 80px 0
  padding: 0

  +breakpoint (large) 
    width: 385px
    height: 385px

  .bodymovin
    width: 100%
    height: 100%

