#featured-survey

  // padding-top: 300px
  // padding-bottom: 300px

  // @include breakpoint (large down) 
  //   padding-top: 0

  // @include breakpoint (medium down) 
  //   padding-top: 0

  // @include breakpoint (small only) 
  //   padding-top: 0 
  
  padding: 75px 0;
  +breakpoint( medium )
    padding: 100px 0

  h2 
    color: $white
  
  .box 
    color: $white

  .view-all 
    display: inline-block
    position: relative
    color: $white
    text-transform: uppercase
    text-decoration: none
    font-weight: acumin-pro, sans-serif
    font-weight: 600
    padding: .7rem 0
    overflow: hidden
    
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 2px
      bottom: 0
      left: 0
      background-color: #fff
      visibility: hidden
      -webkit-transition: all .6s linear 0s
      transition: all .6s linear 0s
      animation-name: line-out
      animation-duration: 200ms
      animation-fill-mode: forwards
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      overflow: hidden

    &:hover
      &:after
        visibility: visible
        width: 100%
        animation-name: line-in
        animation-duration: 200ms
        animation-fill-mode: forwards
        overflow: hidden
        
        
    
.featured-surveys
  margin: 5rem 0 2rem
  .flickity-button
    +breakpoint( xlarge )
      top: 0
      width: 25%
      height: 100%
      transform: translateY(0)
      background-color: rgba(255,255,255,0)
      svg
        display: none
.survey-slide
  width: 300px
  margin-right: 10px
  +breakpoint( medium )
    width: 450px
    margin-right: 10px
  +breakpoint( large )
    width: 625px
    margin-right: 90px
  .box
    height: 500px
    opacity: .3
    transform: scale(.85)
    transition: transform 1s ease, opacity 1s ease .25s;
    +breakpoint( large )
      height: 625px
      padding-left: 4rem
      padding-right: 4rem
  &.is-selected .box
    transform: scale(1)
    opacity: 1
  a 
    color: $white 
    text-decoration: none
    transition: width 1s, height 1s, transform 1s
  