.m_Headline

  &.section
    
    height: 100vh
    color: $white
  

  h2 
    line-height: 1.25



  a 
    display: inline-block
    position: relative
    color: $white
    text-decoration: none

    &:after 
      content: ''
      width: 100%
      height: 2px 
      display: block
      position: absolute 
      bottom: 0
      background: $white

  em 
    font-family: freight-big-pro, sans-serif 
    // font-size: 45px
    color: $blue

#transparency,
#our-process
  &>.grid-container
    height: 100% 
    &>.grid-x 
      height: 100%

#transparency 
  height: 50vh
  +breakpoint( large )
    height: auto
