.hero 

  &.section

    //height: 50vh
    position: relative

    
    @include breakpoint (medium) 
      padding: 0 2rem
    @include breakpoint (large) 
      height: 100vh
      // padding: 5rem


  .hero__container 
    padding: 0

  .hero__box 
    padding-top: 100px
    z-index: 10
    max-width: 650px
    h1
      font-size: 45px
      +breakpoint(large)
        font-size: 80px

  .hero-tag 
    color: $white
    font-size: 16px
    +breakpoint( large )
      font-size: 24px

  .hero-frame1,
  .hero-frame2,
  .hero-frame3,
  .hero-frame4,
  .hero-frame5

    @media (max-width: 880px) and (orientation: portrait) 
      display: none
   
  .hero-frame1 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    right: 0
    animation-fill-mode: both
    background-image: url(../assets/images/network-graphic.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: contain

    +breakpoint (portrait) 
      background-size: 80% 100%

    +breakpoint (landscape) 
      background-size: contain

    +breakpoint (small only) 
      background-image: none

  .hero-frame2 
    width: 100%
    height: 100%
    position: absolute
    top: 20px
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    //animation-delay: .75s
    animation-delay: 0.375s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/home-bg1.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    @include breakpoint (large down) 
      top: 100px
      background-size: auto 70%

  .hero-frame3
    width: 100%
    height: 100%
    position: absolute
    top: 20px
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    // animation-delay: 1.5s
    animation-delay: .75s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/home-bg2.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (large down) 
      top: 100px
      background-size: auto 70%

  .hero-frame4
    width: 100%
    height: 100%
    position: absolute
    top: 20px
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    //animation-delay: 2.25s
    animation-delay: 1.125s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/home-bg3.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    @include breakpoint (large down) 
      top: 100px
      background-size: auto 70%

  .hero-frame5
    width: 100%
    height: 100%
    position: absolute
    top: 20px
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    //animation-delay: 3s
    animation-delay: 1.5s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/home-bg4.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    @include breakpoint (large down) 
      top: 100px
      background-size: auto 70%
    
  .grid-container,
  .grid-x 
    height: 100%

    .hero__top 
      margin-top: 50px
      // margin-bottom: 50px

    .hero__bottom 
      margin-top: 0
      margin-bottom: 0

      br 
        +breakpoint (small only) 
          display: none

      h2 
        margin-bottom: 30px

      h3 
        margin-top: 3em

        @media (max-width: 768px) and (orientation: landscape) 
          margin-top: 0
          margin-bottom: 2em

      a 
        position: relative
        font-family: acumin-pro, sans-serif
        font-weight: 400
        font-style: normal
        color: #f4f4f4
        opacity: 0.5
        text-decoration: none
        transition: .5s all linear

        &:after 
          display: none
          content: ''
          width: 95px 
          height: 8px
          background-image: url(/wp-content/themes/sciops-landing/assets/images/decorative.png)
          background-position: center center 
          background-repeat: no-repeat 
          background-size: contain
          position: absolute 
          top: 50%
          left: calc(100% + 20px)
          transform: translate(0px, -30%)
          transition: .25s all linear

        &:hover 
          
          &:after 
            transform: translate(15px, -30%)
        
        +breakpoint (medium down) 
          display: inline-block          

    .hero__content 
      img 
        margin-bottom: 100px

        +breakpoint (1600px down) 
          width: 185px
          margin-bottom: 100px

        +breakpoint (767px down)
          width: 115px
  
// body
//   height: 100vh

.m_hero

  // height: 90vh
  padding: 0 !important
  +breakpoint( large )
    display: none
    padding: 0
  // @include breakpoint (small) 
  //   padding-left: 0 
  //   padding-right: 0 

  // @include breakpoint (medium) 
  //   padding-left: 0 !important
  //   padding-right: 0 !important

  // @media (max-width: 880px) and (orientation: portrait)
  //   display: block
  //   height: 150vh
  //   margin-bottom: 100px

  // @media (max-width: 767px) and (orientation: portrait) 
  //   height: 110vh

  // @media (max-width: 640px) and (orientation: portrait)
  //   height: 50vh
  //   padding-top: 0 !important
  //   padding-bottom: 0 !important
  //   padding-right: 0 !important

  .grid-container,
  .grid-x,
  .cell 
    height: 100%
    position: relative

  .m_hero-frame1 
    display: none

  .m_hero-frame2 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: .75s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-1.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame3
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 1.5s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-2.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame4
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 2.25s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-3.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame5
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 3s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-4.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (880px down) 
      background-size: cover