.m_ImageCopy

  &.section
      
    +breakpoint (medium) 
      padding-left: 5rem
      padding-right: 5rem
    
    +breakpoint( large )
      padding: 200px 0

  background-color: $white
  color: $white

  h2 
    // font-size: 80px
    margin-bottom: 0
    +breakpoint( xlarge )
      // font-size: 100px
      margin-bottom: 2rem

  p 
    color: $blue
    // padding-left: 1.5rem

#collect,
#analyze,
#share 
  position: relative 
  text-align: center
  +breakpoint(large)
    text-align: left

  p 
    

    @include breakpoint (large) 
      padding-right: 180px

  #anchor1,
  #anchor2,
  #anchor3
    position: absolute
    top: 60%

  .bodymovin-wrapper-svg 
    margin-bottom: 2rem


