#members-panel
  overflow: hidden
  &.section

    position: relative
    background-color: transparent
    color: $blue
    background-color: #fff !important
    
    padding-left: 0
    padding-right: 0
    padding-bottom: 0
    
    
    +breakpoint( large )
      padding-top: 0
      padding-bottom: 0
      height: 100vh
  &>.grid-container 
    height: 100%
    .grid-x 
      height: 100%
    .cell p
      // max-width: 170px
      +breakpoint( medium )
        max-width: none
  .p-image-mobile
    margin: 3rem auto
    +breakpoint( large )
      display: none
  .p-image
    
    width: 100%
    height: 670px
    background-size: cover
    background-repeat: no-repeat
    display: none
    +breakpoint( large )
      display: block
      margin-top: 0
      position: absolute
      right: 0 
      top: 0%
      z-index: 1
      
      height: 100%
      background-image: url(../assets/images/members-panel.png)
      background-size: 45%
      background-position: 100%
      background-repeat: no-repeat
      background-position: right
    +breakpoint( large )
      width: 620px
      background-size: contain
      top: -15%