.nav-link
  display: none
  position: absolute
  right: 5rem
  top: 20px
  z-index: 9999
  overflow: hidden

  @include breakpoint (medium down) 
    right: 2rem
    display: inline-flex

.nav-link__outer
  position: relative
  width: 41px
  height: 41px
  cursor: pointer

.nav-link__icon
  position: absolute
  top: 50%
  margin-top: -1px
  width: 75%
  height: 2px
  border-radius: 2px
  background: $gray
  background: $white
  transform-style: preserve-3d
  transition: all 0.5s ease-out-cubic

  .is-open &
    background: transparent
    transition: all 0.4s ease-out-cubic
  &:before,
  &:after
    content: ''
    display: block
    position: absolute
    border-radius: 2px
    height: 2px
    width: 41px
    background: $white
    transform-style: preserve-3d
    transition: all 0.5s ease-out-cubic
    transform: translateY(0) rotate(0)
  &:before
    top: -10px

    .is-open &
      transform: translateY(10px) rotate(45deg)
      transition: all 0.4s ease-out-cubic 0.1s
      background: $blue

  &:after
    bottom: -10px

    .is-open &
      transform: translateY(-10px) rotate(-45deg)
      transition: all 0.4s ease-out-cubic 0.1s
      background: $blue

