.menu-header-menu-container 

  display: none

  @include breakpoint(large) 
    display: block

.header__nav
  width: 100%
  height: 100vh
  position: fixed
  top: 0
  left: 0
  background-color: #fff
  transition: all .2s ease-out
  opacity: 0;
  visibility: hidden
  overflow: hidden
  z-index: 9999

  @media (max-width: 1024px)
    overflow-y: auto

  .container 
    padding-left: 5rem 
    padding-right: 5rem

    @include breakpoint (medium down) 
      padding-left: 0rem 
      padding-right: 0rem

  .nav
    display: flex
    flex-direction: column
    list-style: none
    padding-top: 120px
    justify-content: center

    @media (max-width: 1366px) 
      padding-top: 120px

    @media (max-width: 768px) 
      padding-top: 120px

    @media (max-width: 640px)
      padding-top: 120px

    @media (max-width: 1023px) and (orientation: landscape)
      padding-top: 120px

    @media (max-width: 823px) and (orientation: landscape)
      padding-top: 120px
      flex-direction: row

    @media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) 
      padding-top: 120px

    @media (min-width: 411px) and (max-width: 731px) 
      padding-top: 120px

    li
      margin-top: 0
      margin-right: 0
      margin-bottom: 0
      text-align: left
      
      +breakpoint( medium down )
        border-top: 1px solid $blue
        padding: .9rem 2rem 1rem 2rem
        
      &:last-child
        margin-bottom: 10px
        

        +breakpoint( medium down )
          margin-bottom: 10px
          border-bottom: 1px solid $blue

      a
        display: inline-block
        position: relative
        font-size: 24px
        text-decoration: none
        // margin-bottom: 40px
        font-family: acumin-pro, sans-serif
        font-size: 22px 
        color: $blue
          
        span 
          font-size: 32px
          font-style: italic

        &:hover
          &:after
            transform: translateX(20px)

        &:after
          content: ''
          position: absolute
          left: 0
          bottom: -3px
          width: 100%
          transition: transform .2s ease-out,border .2s ease-out

        @media (max-width: 1023px) and (orientation: landscape)
          &:hover
            &:after
              transform: translateX(0)

.is-open
  .header__nav
    opacity: 1
    visibility: visible
    z-index: 100

    @include breakpoint (large up) 
      visibility: hidden 
      opacity: 0

  .header_logo
    top: 0 !important

