#our-method 
  background-color: $white
  
  +breakpoint (xlarge) 
    padding-bottom: 300px

  h2, strong
    color: $blue

  strong 
    font-family: acumin-pro, sans-serif 
    // font-size: 20px 
    font-weight: 600
    // padding-bottom: 2rem

  h2
    +breakpoint( large )
      margin-bottom: 6rem
  .cell p:first-child
    margin-top: 1.5rem
    