#team 

  padding-top: 100px
  background-color: $white 
  padding-bottom: 0
  
  +breakpoint( large )
    padding: 200px 0
  // @include breakpoint (xlarge down) 
  //   padding-left: 5rem
  //   padding-right: 5rem

  // @include breakpoint (small only) 
  //   padding-left: 2rem 
  //   padding-right: 2rem

  h2 
    +breakpoint( large )
      margin-bottom: 5rem

  span 
    display: block

  img 
    margin-bottom: 1.5rem

  .member-name 
    margin-bottom: 1rem
    color: $blue
    font-family: freight-big-pro, sans-serif 
    font-size: 26px
    font-weight: 400

  .member-title 
    color: $blue
    font-size: 14px
    text-transform: uppercase 
    font-weight: 600
    margin-bottom: 100px