.m_PageHeader

  height: 500px
  position: relative

  &.section

    @include breakpoint (xlarge down) 
      padding-left: 5rem
      padding-right: 5rem 

    @include breakpoint (small only) 
      padding-left: 2rem 
      padding-right: 2rem

  &>.grid-container 
    height: 100% 

    &>.grid-x 
      height: 100%

  .grid-container 
    padding-left: 0 
    padding-right: 0

  &:before 
    content: ''
    width: 100%
    height: 500px
    position: absolute 
    left: 0 
    top: 0
    display: block
    background: url(../assets/images/survey-detail.jpg) center center / cover no-repeat
    z-index: 1

  h1,h2
    position: absolute
    bottom: 20%
    // transform: translateY(10%)
    z-index: 2
    width: 75%
    +breakpoint( large )
      width: 85%
      bottom: 20%
      //transform: translateY(-25%)

    

  &.meet-people 
    &:before 
      content: '' 
      width: 100% 
      height: 500px 
      position: absolute 
      left: 0 
      top: 0 
      display: block 
      background: url(../assets/images/who-we-are-header-image.jpg) center center / cover no-repeat 
      z-index: 1