#related-surveys 

  background: $white
  color: $white
  
  +breakpoint( large )
    padding-top: 200px

  h3 
    font-size: 30px 
    color: $blue

  h5 
    font-size: 16px
    font-weight: 600
    margin-bottom: 3rem