#stats

  background: $blue
  padding: 80px 0 
  +breakpoint( large )
    padding: 150px 0
  .stat 
    display: inline-block
    font-family: freight-big-pro, serif
    font-size: 100px 
    // margin-bottom: 2rem
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
    span
      font-size: 75px;
  .stat-box 
    // height: 500px
    position: relative
    margin-bottom: 5rem
    +breakpoint( large )
      margin-bottom: 0
  .stat-title 
    min-height: 60px
    font-size: 16px 
    font-weight: 600
    text-transform: uppercase
    line-height: 1.5
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)

  .stat-description 
    display: inline-block
    color: $white
    padding-top: 20px
    line-height: 1.5

  .stat-toggle
    // content: '+'
    // display: block
    // font-family: 'Roboto', sans-serif
    // font-size: 80px 
    // font-weight: 100 
    display: block
    width: 40px
    height: 40px
    margin: auto
    cursor: pointer
    // transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
    color: $white
    &:hover svg
      transform: rotate( -90deg )
    svg
      transition: transform .25s ease
    &.stat-toggle-rotated svg
      transform: rotate( 45deg )

  .stat-copy
    p, li
      // display: none
      color: $white
      font-size: 16px
      font-weight: 400
      line-height: 1.5

    ul 
      li
        padding-left: 0
        margin-top: 0
        &::before
          content: unset
    span 
      display: block 
      margin-top: .5rem

  .stat-moved 
    //transform: translateY(-100px)
