.survey-graphs 

  padding-top: 75px 
  padding-bottom: 75px
  
  margin-bottom: 5rem
  
  h5
    font-size: 14px
  
  &>.grid-container
  
    // padding-top: 50px
    // padding-bottom: 50px
    +breakpoint( large )
         
      padding-top: 100px
      padding-bottom: 100px
    .questions-container 
      +breakpoint( large )
        margin-bottom: 120px 
        
        
    .finding,
    h5
      font-size: 14px
      margin-bottom: .875rem
      +breakpoint( large )
        font-size: 16px
        margin-bottom: 1rem
    .question 
      color: $gray
      font-size: 16px
      // padding: 0 30% 
  
      line-height: 1.3
      max-width: 500px
      margin-left: auto
      margin-right: auto
      +breakpoint( large )
        max-width: 850px
        font-size: 20px

    .finding 
      color: #2A3746
      text-transform: uppercase

    .copy 
      max-width: 500px
      margin-left: auto
      margin-right: auto 
      +breakpoint( large )
        max-width: 812px
      p,li
        font-family: $font-sans
        font-size: 16px 
        // padding: 0 20%
        font-weight: 400
        color: #484848
        margin-bottom: 1.5rem
        +breakpoint( large )
          font-size: 20px
      ul
        max-width: 600px
        margin-left: auto
        margin-right: auto
        li
          text-align: left
          list-style: none
        
        
    img 
      display: block
      margin: 0 auto 5rem
.survey-description
  &.pre-survey
    padding-top: 25px
    @include breakpoint( medium )
      padding-top: 50px
    @include breakpoint( large )
      padding-top: 75px
    @include breakpoint( xlarge )
      padding-top: 150px
    h5
      color: #2a3746;
      font-weight: 600;
    p
      margin-top: 2rem
.footnote
  border-top: 1px solid #BEC2C7
  border-bottom: 1px solid #BEC2C7
  margin-top: -1px
  +breakpoint( xxlarge )
    height: 100vh
  
  &.unset
    border: none
    height: auto !important
  .lg-multi-header,
  .lg-header
    margin-bottom: 2rem
  h5
    color: $blue
    font-weight: 600;
  p,ul
    margin-top: 2rem