#survey-data 

  padding-top: 125px
  padding-bottom: 200px
  position: relative
  color: $white
  background: $blue

  @include breakpoint (large down) 
    padding-left: 5rem 
    padding-right: 5rem 

  @include breakpoint (small only) 
    padding-left: 2rem 
    padding-right: 2rem

  &:after 
    content: ''
    width: 92%
    height: 80px 
    position: absolute 
    bottom: 0
    left: 50% 
    background-color: $white
    transform: translateX(-50%)
    @include breakpoint( xxlarge )
      width: 85%
      

  strong 
    display: inline-block 
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 1.5rem
  .data-box
    margin-bottom: 3rem
  .data-table 
    display: table 
    width: 100%
    font-weight: 500
    +breakpoint( large )
      width: 90%
  .data-row 
    display: table-row 
    //border-bottom: 1px solid $white

    &:last-of-type 
      .data-label,
      .data-value 
        border: 0
    p
      
      display: table-cell
      margin-top: 1.5rem

  .data-label,
  .data-value
    display: table-cell
    padding: 1rem 1rem 1rem 0
    border-bottom: 1px solid $white
    vertical-align: middle
    line-height: 1.3

    @include breakpoint (large down) 
      font-size: 12px

  .data-label 
    line-height: 1.1
    vertical-align: top

  .data-value 
    span 
      display: block
      margin-bottom: .5rem
  .data-footnote
    width: 100%
    border-top: 1px solid $white
    +breakpoint( large )
      width: 90%
    p
      font-size: 14px;
      margin-top: 1.5rem
  .respondent-demographics 
    line-height: 1.3