#survey-topics

  color: $white

  h3 
    width: 100% 
    display: block 
    margin-bottom: 2rem
    font-family: acumin-pro, sans-serif
    font-size: 1rem 
    font-weight: 600
    text-transform: uppercase

  .topics 
    display: table

  ul 
    width: calc(100% / 5)
    display: table-cell
    list-style: none 
    margin-top: 0
    margin-left: 0
    padding-left: 0

    li 

      a 

        color: $white 
        font-size: 1rem
        font-weight: 400
        text-decoration: none