#survey-results 

  &.section 
    padding-top: 250px

    @include breakpoint (large down) 
      padding-left: 0 
      padding-right: 0

  color: $white
    
  


    // &:hover 
    //   transform: rotate(90deg)
    //   transform-origin: center center

.survey-item
  position: relative
  h2 
    color: $white
    font-size: 40px
    z-index: 2
    
    +breakpoint (large) 
      font-size: 60px

    

  p 
    // font-size: 20px
    z-index: 2
    margin-top: 0
    max-width: 450px
  .date
    font-size: rem-calc(14px)
    text-transform: uppercase
    font-weight: 600
    margin-top: 2.5rem
    letter-spacing: .075em
  a
    color: $white !important
    text-decoration: none !important
    transition: width 1s, height 1s, transform 1s


  &:hover 
    .open
      transform: rotate(90deg)
      transform-origin: center center
  .open 
    width: 31px 
    height: 31px
    display: block
    position: absolute
    right: 50px
    bottom: 35px
    z-index: 9999
    transition: width 1s, height 1s, transform 1s;

    @include breakpoint (medium down) 
      right: 20px 
      bottom: 20px
  .box__image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border: 1px solid $white
    opacity: 0
    transition: opacity 1s $easing
    //animation: fadeIn ease 1s
  &:hover
    .box__image
      opacity: 1
  
    

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1