#what-we-do 
  
  position: relative
  // padding-top: 300px 
  // padding-bottom: 300px
  color: $white
  
  // @include breakpoint (xlarge down) 
  //   padding: 150px 5rem

  // @include breakpoint (medium down) 
  //   padding-top: 100px
  //   padding-bottom: 100px

  // @include breakpoint (small only) 
  //   padding-top: 100px !important
  
  

  h2 
    color: $white 

  p 
    color: $white
    margin-bottom: 50px
    
    @include breakpoint (medium down) 
      margin-top: 0
     
      
    +breakpoint( medium )
      padding: 0 20%

  img 
    width: 225px
    height: 225px
    margin-bottom: 80px

  #anchor 
    position: absolute 
    top: 60%

    @include breakpoint (medium down) 
      top: 20%

    @include breakpoint (small only) 
      top: 0
