#people
  h2,h3
    color: #fff;
#who-we-are 

  padding-top: 200px
  padding-bottom: 300px
  color: $white

  @include breakpoint (medium down) 
    padding-top: 100px 
    padding-bottom: 100px

  @include breakpoint (small only) 
    padding-bottom: 0 

  // h2 
  //   font-size: 100px
  //   color: $white
  //   margin-bottom: 1rem

  //   @include breakpoint (large down) 
  //     font-size: 80px

  //   @include breakpoint (medium down) 
  //     font-size: 48px

  //   @include breakpoint (small down)
  //     font-size: 32px

  h2,h3
    color: #fff
  h3 
    font-size: 60px
    margin-bottom: 5rem

    @include breakpoint (large down) 
      font-size: 48px 

    @include breakpoint (medium down) 
      font-size: 44px 
      margin-bottom: 2rem

    @include breakpoint (small only) 
      font-size: 20px
      margin-bottom: 2rem

  ul 
    display: flex 
    justify-content: center
    
    li 
      padding-left: 0
      margin-top: 0
      &::before
        content: unset
      a
        display: inline-block
        position: relative
        color: $white
        text-transform: uppercase
        text-decoration: none
        font-family: acumin-pro, sans-serif
        font-weight: 600
        padding: .7rem 0
        margin-left: 2.5rem 
        margin-right: 2.5rem
        overflow: hidden
        
        &:after
          content: ''
          position: absolute
          width: 100%
          height: 2px
          bottom: 0
          left: 0
          background-color: #fff
          visibility: hidden
          -webkit-transition: all .6s linear 0s
          transition: all .6s linear 0s
          animation-name: line-out
          animation-duration: 200ms
          animation-fill-mode: forwards
          -webkit-backface-visibility: hidden
          backface-visibility: hidden
          overflow: hidden

        &:hover
          &:after
            visibility: visible
            width: 100%
            animation-name: line-in
            animation-duration: 200ms
            animation-fill-mode: forwards
            overflow: hidden

      // &:before 
      //   content: ''
      //   position: absolute
      //   width: 70%
      //   height: 2px
      //   bottom: 0
      //   left: 0
      //   background-color: #fff
      //   visibility: hidden
      //   -webkit-transform: scaleX(0.6)
      //   transform: scaleX(0.6)
      //   -webkit-transition: all .3s ease-in-out 0s
      //   transition: all .3s ease-in-out 0s
        

      // &:hover
      //   &:before
      //     visibility: visible
      //     -webkit-transform: scaleX(0.6)
      //     transform: scaleX(0.6)
      //     width: 100%

      // a 
      //   padding-left: 2.5rem
      //   padding-right: 2.5rem
      //   font-family: acumin-pro, sans-serif
      //   font-weight: 600
      //   color: #fff
      //   text-transform: uppercase

  

      
            
