#work-together 
  
  background: $blue
  color: $white 
  padding: 100px 0
  +breakpoint (medium) 
    padding-left: 5rem 
    padding-right: 5rem
    padding-top: 150px
  +breakpoint (large) 
    padding: 200px 0
  // @include breakpoint (small) 
  //   padding-left: 2rem 
  //   padding-right: 2rem

  h2 
    width: 100%
    display: block 
    +breakpoint( large )
      margin-bottom: 5rem

  .contact-us 
    color: $white 
    font-weight: 600
    text-transform: uppercase
    text-decoration: none
    