.footer
  height: auto
  min-height: 25vh
  background-color: $blue
  margin-top: 0
  // padding-top: 5%
  // padding-bottom: 5%
  padding-top: 75px
  position: relative
  +breakpoint(large)
    padding-top: 150px
  
  // @include breakpoint (medium) 
  //   padding-left: 5rem 
  //   padding-right: 5rem

  // @include breakpoint (small) 
  //   padding-left: 2rem 
  //   padding-right: 2rem

  p 
    padding-bottom: 0

  .grid-container,
  .grid-x 
    height: 100%

.copyright 
  img 
    display: block

    &:first-of-type 
      margin-bottom: 2rem

    &:last-of-type 
      margin-left: -15px
      margin-bottom: 2rem

  @include breakpoint (medium down) 
    text-align: center

  .footer__copyright__container 
    @media (max-width: 767px) 
      order: 2

    @media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) 
      order: inherit

    @media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) 
      order: 2

.footer__copyright 
  margin-bottom: 1.5rem
  margin-top: 1.5rem

.footer__text
  margin-bottom: 2rem
  line-height: 1.5
  text-transform: uppercase
  font-size: 16px
  font-weight: 100
  -webkit-font-smoothing: auto

  +breakpoint (small only) 
    margin-bottom: 16px

  .inner 
    display: flex
    justify-content: center

    +breakpoint (medium down)
      flex-direction: column

    .address2
      margin-bottom: 24px

    .phone,
    .chat,
    .apply 
      margin-bottom: 5px

    .phone 
      a 
        color: #ffffff
        text-decoration: none
        cursor: pointer

  .comma
    margin-right: 1rem

    +breakpoint(medium down)
      display: none

  .divider 
    margin: 0 1rem

    +breakpoint(medium down)
      display: none

  br
    display: block

    +breakpoint(medium)
      display: none

.footer__copyright
  font-family: acumin-pro, sans-serif
  font-weight: 400
  font-style: normal
  font-size: 16px
  line-height: 24px
  color: $white

  @media (max-width: 1024px) 
    font-size: 16px
    text-align: left

  @media (max-width: 768px)
    font-size: 16px

  @media (max-width: 767px)
    font-size: 14px

  br
    @media (max-width: 1024px)
      display: none

  a
    color: inherit
    text-decoration: none

  span
    margin: 0 0.5rem

.footer__links
  +breakpoint( large )
    align-self: flex-end
  a
    color: white
    font-size: rem-calc( 15px) 
    
  ul
    flex-direction: column
    align-items: flex-start
    margin-bottom: 2rem
    li
      margin-top: 0
      padding-left: 0
      &:before
        content: unset
      a
        padding-left: 0