#header 

  width: 100%
  min-height: inherit
  display: flex
  position: absolute
  left: 0
  top: 0
  color: $white
  padding: 30px 2rem
  padding-top: 30px
  padding-bottom: 30px
  z-index: 9999

  // @include breakpoint (medium) 
  //   padding-left: 5rem
  //   padding-right: 5rem

  



  &>.grid-container 
    width: 100%
    padding-left: 0 
    padding-right: 0

  .menu-container 
    ul

      justify-content: flex-end
      margin-right: -1.5rem

      li 
        padding: 0 1.5rem
        margin-top: 0
        &:before
          content: unset

        a
          position: relative 
          display: inline-block
          color: $white
          padding: .7rem 0
          font-family: acumin-pro, sans-serif
          font-weight: 400
          font-size: 15px
          overflow: hidden

          &:after
            content: ''
            position: absolute
            width: 100%
            height: 2px
            bottom: 0
            left: 0
            background-color: #fff
            visibility: hidden
            -webkit-transition: all .6s linear 0s
            transition: all .6s linear 0s
            animation-name: line-out
            animation-duration: 200ms
            animation-fill-mode: forwards
            -webkit-backface-visibility: hidden
            backface-visibility: hidden
            overflow: hidden

          &:hover
            &:after
              visibility: visible
              width: 100%
              animation-name: line-in
              animation-duration: 200ms
              animation-fill-mode: forwards
              overflow: hidden
            

@keyframes line-in 
  0% 
    transform: translateX(-105%) 
  100% 
    transform: translateX(0%) 
      
@keyframes line-out 
  0%
    transform: translateX(0%)
  100% 
    transform: translateX(105%)
  

            