[data-isactiveslide*="true"]
  position: relative !important
  
[data-key*="rs-7"][data-isactiveslide*="true"]
    transition: .3s all ease-in-out

    &:hover 
      &:before
        visibility: visible
        width: 100%
        height: 100% 
        content: ''
        position: absolute 
        top: 0 
        left: 0
        background-image: url(../assets/images/covid-preparedness.jpg)
        background-repeat: no-repeat
        background-size: cover 
        background-position: center top
        border: 1px solid $white
        animation: fadeIn ease 1s
        -webkit-animation: fadeIn ease 1s
        -moz-animation: fadeIn ease 1s
        -o-animation: fadeIn ease 1s
        -ms-animation: fadeIn ease 1s

      .open
        width: 31px 
        height: 31px
        background-image: url(../assets/images/plus-sign.png)
        background-size: cover 
        background-repeat: no-repeat 
        background-position: center center
        display: block
        font-family: 'Roboto', sans-serif
        font-size: 80px
        font-weight: 100
        z-index: 9999
        transition: width 1s, height 1s, transform .5s !important

        &:hover 
          transform: rotate(90deg) !important
          transform-origin: center center

[data-key*="rs-15"][data-isactiveslide*="true"]
  transition: .3s all ease-in-out
  
  &:hover 
    &:before
      visibility: visible
      width: 100%
      height: 100% 
      content: ''
      position: absolute 
      top: 0 
      left: 0
      background-image: url(../assets/images/covid-personal-health-impacts.jpg)
      background-repeat: no-repeat
      background-size: cover 
      background-position: center top
      border: 1px solid $white
      animation: fadeIn ease 1s
      -webkit-animation: fadeIn ease 1s
      -moz-animation: fadeIn ease 1s
      -o-animation: fadeIn ease 1s
      -ms-animation: fadeIn ease 1s

      .open
        width: 31px 
        height: 31px
        background-image: url(../assets/images/plus-sign.png)
        background-size: cover 
        background-repeat: no-repeat 
        background-position: center center
        display: block
        font-family: 'Roboto', sans-serif
        font-size: 80px
        font-weight: 100
        z-index: 9999
        transition: width 1s, height 1s, transform .5s !important

        &:hover 
          transform: rotate(90deg) !important
          transform-origin: center center
        
[data-key*="rs-17"][data-isactiveslide*="true"]
  transition: .3s all ease-in-out

  &:hover
    &:before 
      visibility: visible
      width: 100%
      height: 100% 
      content: ''
      position: absolute 
      top: 0 
      left: 0
      background-image: url(../assets/images/covid-impacts-on-scientific-research.jpg)
      background-repeat: no-repeat
      background-size: cover 
      background-position: center top
      border: 1px solid $white
      animation: fadeIn ease 1s
      -webkit-animation: fadeIn ease 1s
      -moz-animation: fadeIn ease 1s
      -o-animation: fadeIn ease 1s
      -ms-animation: fadeIn ease 1s

    .open
      width: 31px 
      height: 31px
      background-image: url(../assets/images/plus-sign.png)
      background-size: cover 
      background-repeat: no-repeat 
      background-position: center center
      display: block
      font-family: 'Roboto', sans-serif
      font-size: 80px
      font-weight: 100
      z-index: 9999
      transition: width 1s, height 1s, transform .5s !important

      &:hover 
        transform: rotate(90deg) !important
        transform-origin: center center

[data-key*="rs-14"][data-isactiveslide*="true"]
  transition: .3s all ease-in-out

  &:hover 
    &:before
      visibility: visible
      width: 100%
      height: 100% 
      content: ''
      position: absolute 
      top: 0 
      left: 0
      background-image: url(../assets/images/regulation-of-science.jpg)
      background-repeat: no-repeat
      background-size: cover 
      background-position: center top
      border: 1px solid $white
      animation: fadeIn ease 1s
      -webkit-animation: fadeIn ease 1s
      -moz-animation: fadeIn ease 1s
      -o-animation: fadeIn ease 1s
      -ms-animation: fadeIn ease 1s

    .open
      width: 31px 
      height: 31px
      background-image: url(../assets/images/plus-sign.png)
      background-size: cover 
      background-repeat: no-repeat 
      background-position: center center
      display: block
      font-family: 'Roboto', sans-serif
      font-size: 80px
      font-weight: 100
      z-index: 9999
      transition: width 1s, height 1s, transform .5s !important

      &:hover 
        transform: rotate(90deg) !important
        transform-origin: center center