html
  width: 100%

  &.is-open
    +breakpoint(medium down)
      overflow: hidden // prevent scrolling with nav overlay

body
  background-color: $blue

body:not(.home) 
  background-color: $white

body.survey-results 
  background-color: $blue

body.our-process 
  background-color: $blue
  
main 

  min-height: 80vh

  +breakpoint (880px down)
    height: auto

  @media (max-width: 880px) and (orientation: landscape) 
    height: auto 

.site
  height: 100%

  .is-open &
    +breakpoint(medium down)
      height: 100vh
      position: relative
      overflow-y: hidden

  .is-open &:after
    +breakpoint(medium down)
      content: ''
      background: white
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 2
      opacity: 0.98

.section 
  padding: 50px 25px
  // min-height: 500px 
  // padding: 150px 0

  // @include breakpoint (large down) 
  //   padding: 150px 0

  // @include breakpoint (medium down) 
  //   min-height: 0
  //   padding: 150px 5rem

  // @include breakpoint (small only) 
  //   padding-left: 0
  //   padding-right: 0
  //   padding-top: 50px
  //   padding-bottom: 50px
  
  @include breakpoint (xlarge )
    min-height: 500px
    padding: 150px 0
  
  &>.full 
    padding: 0
  
  .grid-container.slim
    max-width: 1090px
    @include breakpoint( large down )
      max-width: 900px
  .grid-container.narrow
    max-width: 1000px
  
  &.section

    &.nopadding-top 
      padding-top: 0

    &.nopadding-bottom 
      padding-bottom: 0

    &.paddingtop-small
      padding-top: 50px

    &.paddingbottom-small
      padding-bottom: 50px

    &.paddingtop-medium
      padding-bottom: 100px

    &.paddingbottom-medium
      padding-bottom: 100px

    &.paddingtop-large
      padding-top: 150px

    &.paddingbottom-large
      padding-bottom: 150px

    &.paddingtop-xlarge
      padding-top: 200px

    &.paddingbottom-xlarge
      padding-bottom: 200px

    &.paddingtop-xxlarge
      padding-top: 250px

    &.paddingbottom-xxlarge
      padding-bottom: 250px

.home 
  .section 
    &>.full 
      padding: 0

// Fade-in the backgrounds

@-webkit-keyframes animation
  0%     
    opacity: 0
  50.0%  
    opacity: 0.5
  100.0%  
    opacity: 1

@keyframes animation
  0%     
    opacity: 0
  50.0%  
    opacity: 0.5
  100.0%  
    opacity: 1
