.footer
  height: auto
  min-height: 25vh
  background-color: #1e2731
  margin-top: 0
  padding-top: 5%
  padding-bottom: 5%
  position: relative

  @media (max-width: 1024px)
    min-height: 0

  p 
    padding-bottom: 0

  .footer__container 
    padding: 0 10%

  .grid-container,
  .grid-x 
    height: 100%

.copyright 
  @include breakpoint (medium down) 
    text-align: center

  .footer__copyright__container 
    @media (max-width: 767px) 
      order: 2

    @media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) 
      order: inherit

    @media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) 
      order: 2

.footer__text
  margin-bottom: 2rem
  line-height: 1.5
  text-transform: uppercase
  font-size: 16px
  font-weight: 100
  -webkit-font-smoothing: auto

  +breakpoint (small only) 
    margin-bottom: 16px

  .inner 
    display: flex
    justify-content: center

    +breakpoint (medium down)
      flex-direction: column

    .address2
      margin-bottom: 24px

    .phone,
    .chat,
    .apply 
      margin-bottom: 5px

    .phone 
      a 
        color: #ffffff
        text-decoration: none
        cursor: pointer

  .comma
    margin-right: 1rem

    +breakpoint(medium down)
      display: none

  .divider 
    margin: 0 1rem

    +breakpoint(medium down)
      display: none

  br
    display: block

    +breakpoint(medium)
      display: none

.footer__copyright
  font-family: acumin-pro, sans-serif
  font-weight: 400
  font-style: normal
  font-size: 16px
  line-height: 24px
  color: $white

  @media (max-width: 1024px) 
    font-size: 16px
    text-align: left

  @media (max-width: 768px)
    font-size: 16px

  @media (max-width: 767px)
    font-size: 14px

  br
    @media (max-width: 1024px)
      display: none

  a
    color: inherit
    text-decoration: none

  span
    margin: 0 0.5rem

.footer__links

  display: flex
  flex-direction: column
  justify-content: center

  @media (max-width: 767px) 
    align-items: flex-start

  @media (max-width: 1024px) and (orientation: landscape) 
    align-items: flex-end

  @media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) 
    align-items: flex-start

  ul 
    display: flex 
    justify-content: center
    list-style: none
    padding: 0
    margin: 0

  a 
    display: none
    margin: 0
    color: #fff
    font-family: acumin-pro, sans-serif
    font-weight: 400
    font-style: normal
    font-size: 16px
    text-decoration: none

    @media (max-width: 1024px) 
      margin-bottom: 0

    @media (max-width: 767px) 
      font-size: 14px
      padding-left: 0 
      margin-bottom: 1.5em

    &:first-child img
      margin-left: 0