.hero 

  height: 100%
  position: relative

  +breakpoint (medium down) 
    padding-top: 50px

  .hero__container 
    padding: 0 10%

  .hero__box 
    padding-top: 100px
    z-index: 10

    +breakpoint (768px down) 
      padding-top: 0

  .hero-frame1,
  .hero-frame2,
  .hero-frame3,
  .hero-frame4,
  .hero-frame5

    @media (max-width: 880px) and (orientation: portrait) 
      display: none
   
  .hero-frame1 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    //animation-name: animation
    //animation-duration: 1s
    //animation-timing-function: linear
    animation-fill-mode: both
    background-image: url(../assets/images/network-graphic-large.png)
    background-repeat: no-repeat
    background-position: right top
    object-fit: cover 
    object-position: center

    +breakpoint (portrait) 
      background-size: 80% 100%

    +breakpoint (landscape) 
      //background-size: contain

    +breakpoint (xxlarge down) 
      background-image: url(../assets/images/network-graphic-large-80.png)

    +breakpoint (xlarge down) 
      background-image: url(../assets/images/network-graphic-large-60.png)

    +breakpoint (small only) 
      background-image: none


  .hero-frame2 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: .75s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-1.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (1366px down) 
      background-size: auto 90%

  .hero-frame3
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 1.5s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-2.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (1366px down) 
      background-size: auto 90%

  .hero-frame4
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 2.25s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-3.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (1366px down) 
      background-size: auto 90%

  .hero-frame5
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 3s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-4.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (1366px down) 
      background-size: auto 90%
    
  .grid-container,
  .grid-x 
    height: 100%

    .hero__top 
      margin-bottom: 50px

      h1 

        //@media (max-width: 1600px) 

        //+breakpoint (xlarge down) 

        //breakpoint (large down) 

        
      br 
        // +breakpoint (large down)
        //   display: none

    .hero__bottom 
      margin-top: 0
      margin-bottom: 0

      br 
        +breakpoint (small only) 
          display: none

      h2 
        margin-bottom: 30px

      h3 
        margin-top: 3em

        @media (max-width: 768px) and (orientation: landscape) 
          margin-top: 0
          margin-bottom: 2em

      a 
        position: relative
        font-family: acumin-pro, sans-serif
        font-weight: 400
        font-style: normal
        color: #f4f4f4
        opacity: 0.5
        text-decoration: none
        transition: .5s all linear

        &:after 
          display: none
          content: ''
          width: 95px 
          height: 8px
          background-image: url(/wp-content/themes/sciops-landing/assets/images/decorative.png)
          background-position: center center 
          background-repeat: no-repeat 
          background-size: contain
          position: absolute 
          top: 50%
          left: calc(100% + 20px)
          transform: translate(0px, -30%)
          transition: .25s all linear

        &:hover 
          
          &:after 
            transform: translate(15px, -30%)
        
        +breakpoint (medium down) 
          display: inline-block          

    .hero__content 
      img 
        margin-bottom: 100px

        +breakpoint (1600px down) 
          width: 185px
          margin-bottom: 100px

        +breakpoint (767px down)
          width: 115px
  
body
  height: 100vh

.m_hero

  display: none 

  @media (max-width: 880px) and (orientation: portrait)
    display: block
    height: 150vh
    margin-bottom: 100px

  @media (max-width: 767px) and (orientation: portrait) 
    height: 110vh

  @media (max-width: 640px) and (orientation: portrait)
    height: 95vh

  .grid-container,
  .grid-x,
  .cell 
    height: 100%
    position: relative

  .m_hero-frame1 
    display: none

  .m_hero-frame2 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: .75s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-1.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame3
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 1.5s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-2.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 3

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame4
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 2.25s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-3.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (880px down) 
      background-size: cover

  .m_hero-frame5
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    animation-name: animation
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 3s
    animation-timing-function: linear
    background-repeat: no-repeat
    background-position: right top
    background-image: url(../assets/images/image-fade-4.png)
    background-size: auto 100%
    object-fit: cover 
    object-position: center
    z-index: 4

    +breakpoint (880px down) 
      background-size: cover