html
  overflow-x: hidden

  &.is-open
    +breakpoint(medium down)
      overflow: hidden // prevent scrolling with nav overlay

body
  background-color: #2a3746
  
main 

  +breakpoint (880px down)
    height: auto

  @media (max-width: 880px) and (orientation: landscape) 
    height: auto 

.site
  height: 100%

  .is-open &
    +breakpoint(medium down)
      height: 100vh
      position: relative
      overflow-y: hidden

  .is-open &:after
    +breakpoint(medium down)
      content: ''
      background: white
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 2
      opacity: 0.98

.section 
  &.section

    &.nopadding-top 
      padding-top: 0

    &.nopadding-bottom 
      padding-bottom: 0

    &.paddingtop-small
      padding-top: 50px

    &.paddingbottom-small
      padding-bottom: 50px

    &.paddingtop-medium
      padding-bottom: 100px

    &.paddingbottom-medium
      padding-bottom: 100px

    &.paddingtop-large
      padding-top: 150px

    &.paddingbottom-large
      padding-bottom: 150px

    &.paddingtop-xlarge
      padding-top: 200px

    &.paddingbottom-xlarge
      padding-bottom: 200px

    &.paddingtop-xxlarge
      padding-top: 250px

    &.paddingbottom-xxlarge
      padding-bottom: 250px

// Fade-in the backgrounds

@-webkit-keyframes animation
  0%     
    opacity: 0
  50.0%  
    opacity: 0.5
  100.0%  
    opacity: 1

@keyframes animation
  0%     
    opacity: 0
  50.0%  
    opacity: 0.5
  100.0%  
    opacity: 1
