body 
  font-family: acumin-pro, sans-serif
  font-weight: 300
  
h1, h2, h3, h4, h5, h6
  font-family: freight-big-pro, serif
  margin-bottom: 1.5rem
  line-height: 1.2

  &:first-child
    margin-top: 0

h1 
  font-family: freight-big-pro, serif
  font-weight: 400
  font-style: normal
  color: #fff
  font-size: 80px
  letter-spacing: 0.01em

  +breakpoint (1366px down)
    font-size: 70px

  +breakpoint (1024px down)
    font-size: 50px

  +breakpoint (640px down)
    font-size: 40px

  +breakpoint (568px down) 
    font-size: 35px

h2 
  font-weight: 400
  font-style: normal
  font-style: normal
  color: $blue
  font-size: 80px
  letter-spacing: 0.01em
  line-height: 1.1

  @include breakpoint (xlarge down) 
    font-size: 48px

  @include breakpoint (small only) 
    font-size: 32px

h5 
  font-family: acumin-pro, sans-serif
  font-weight: 500
  color: $gray
  font-size: 16px
  text-transform: uppercase


h1.lg-multi-header,
h2.lg-multi-header
  font-size: 40px
  +breakpoint( medium )
    font-size: 60px
  +breakpoint( xlarge )
    font-size: 75px
h3.lg-multi-header
  font-size: 40px
  +breakpoint( large )
    font-size: 60px
  +breakpoint( xlarge )
    font-size: 75px
.lg-header
  font-size: 50px
  +breakpoint( xlarge )
    font-size: 65px
  +breakpoint( xlarge )
    font-size: 80px
p, ul li
  font-family: acumin-pro, sans-serif
  font-weight: 300
  margin-top: 1.5rem
  color: inherit
  font-size: 20px
  letter-spacing: 0.01em
  line-height: 1.5

  @include breakpoint (large down) 
    font-size: 16px

  &:first-child
    margin-top: 0
p
  &:first-child
    margin-top: 0

ul
  margin-top: 1.5rem
  margin-bottom: 0
  list-style-position: inside
  &:first-child
    margin-top: 0

  li
    list-style: none
    position: relative
    padding-left: 1rem
    &:before
      content: ''
      margin-right: 8px
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: 0;
      background: $blue

a
  text-decoration: underline

  &:hover
    color: black

strong
  color: inherit

hr
  height: 1px
  margin: 2rem 0
  background: $blue
  outline: none
  border: none
