// Font-Sizing
.text-large
  font-size: 16px

  +breakpoint(medium)
    font-size: 18px

.text-xlarge
  font-size: 17px

  +breakpoint(medium)
    font-size: 20px

.text-xxlarge
  font-size: 18px

  +breakpoint(medium)
    font-size: 22px

// Keyframe Animations
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

// Accessibility
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
  background-color: #f1f1f1
  border-radius: 3px
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
  clip: auto !important
  color: #21759b
  display: block
  font-size: 14px
  font-size: 0.875rem
  font-weight: bold
  height: auto
  left: 5px
  line-height: normal
  padding: 15px 23px 14px
  text-decoration: none
  top: 5px
  width: auto
  z-index: 100000

.hidden 
  display: none

