h1, h2, h3, h4, h5, h6
  margin-top: 1.5rem

  &:first-child
    margin-top: 0

h1 
  font-family: freight-big-pro, serif
  font-weight: 400
  font-style: normal
  color: #fff
  font-size: 120px
  letter-spacing: 0.01em
  line-height: 1

  +breakpoint (1600px down)
    font-size: 90px

  +breakpoint (1366px down)
    font-size: 70px

  +breakpoint (1024px down)
    font-size: 50px

  +breakpoint (640px down)
    font-size: 40px

  +breakpoint (568px down) 
    font-size: 35px

h2 
  font-family: acumin-pro, sans-serif
  font-weight: 400
  font-style: normal
  color: #fff
  font-size: 28px
  letter-spacing: 0.01em
  line-height: 1.5

  +breakpoint (880px down) 
    font-size: 24px 

  +breakpoint (767px down)
    font-size: 16px

p
  margin-top: 1.5rem
  color: inherit
  font-size: 15px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.5

  +breakpoint(large)
    font-size: 16px

  &:first-child
    margin-top: 0

main 
  a 
    font-size: 18px

    +breakpoint (small only) 
      font-size: 4vw

ul
  margin-top: 1.5rem
  margin-bottom: 0

  &:first-child
    margin-top: 0

li
  margin-top: 0.5rem
  color: inherit
  font-size: 15px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.5

  +breakpoint(large)
    font-size: 16px

  &:first-child
    margin-top: 0

a
  text-decoration: underline

  &:hover
    color: black

strong
  color: inherit

hr
  height: 2px
  margin: 2rem 0
  background: lightgray
  outline: none
  border: none
